<div class="modal-header">
  <h4 class="modal-title pull-left">Adicionar Estoque</h4>
  <button (click)="close()" type="button" class="close pull-right" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="qtdEstoque">
    <label>Qtd de entrada: </label>
    <input type="number" class="form-control" formControlName="estoque">
  </form>
</div>
<div class="modal-footer">
  <button (click)="confirmar()" type="button" class="btn btn-dark">Confirmar</button>
</div>
