.bg-page {
  background-color: #E6E6E6;
}
.custom-text-size24{
  font-size: 22px;
  font-weight: bold;
}
.custom-text-size2{
  font-size: 18px;
  font-weight: bold;
}
.myButton{
  position:absolute;
  top: 0;
    right: 0;
    z-index: 999; /*not working */
    pointer-events: auto;
}
.carousel-inner {
  pointer-events: none;
  z-index:10;
  width: 100%; /*this must stay */
  height: 100%; /*this must stay */
}

.card-img-top {
  object-fit: cover;
  margin-right: auto;
}
.img-fluid{
  border: solid 1px;
  border-radius: 10px;
  height: 15vw;
 }

@media screen and (max-width:768px) {
  .img-fluid{
    border: solid 1px;
    border-radius: 10px;
    height: auto;
   }
  }
@media (min-width: 768px) {
  .img-fluid{
    border: solid 1px;
    border-radius: 10px;
    height: 12vw;
   }
 }

.custom-btn{
  margin-right: 0px;
}
