<div class="container-fluid">
  <div class="col-12">
    <div class="col-12">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12 custom-text-size24 font-bold mt-3 mb-5">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 mt-3 mt-3 mx-auto">
              <button class="mt-3 btn btn-dark" type="submit" (click)="backProdutos()">Produtos</button>
              <div class="text-center mt-2">Edição de imagens do Produto</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <mat-tab-group>
      <mat-tab label="Remover Imagens">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 custom-text-size2 mx-auto mt-3 mb-3">
              Remova imagens para o produto: {{produto.nome}}
            </div>
          </div>
          <div class="row">
            <ng-container *ngFor="let img of imageToShow; let i=index">
              <div class="col-lg-3">
                <img [src]="img" class="img-fluid mb-3" style="width: 300px;">
                <div class="row">
                  <button class="btn custom-btn mr-0">
                    <img src="../../../assets/Icon material-delete.svg" (click)="deleteImageBanco(i)" class="btn-icon-add"
                      alt="add">
                  </button>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Adicionar Imagens">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 custom-text-size2 mx-auto mt-3 mb-3">
              Adicione imagens para o produto: {{produto.nome}}
            </div>
          </div>
          <div class="row">
            <div class="col-md-5 mt-3 mb-3">
              <label class="image-upload-container btn btn-bwm">
                <div class=row><span>Selecione as imagens</span></div>
                <div class=row><input #imageInput type="file" accept="image/*" multiple
                    (change)="processFile($event)">
                </div>
              </label>
            </div>
          </div>
          <div class="row">
            <ng-container *ngFor="let img of novasImagems; let i=index">
              <div class="col-lg-3">
                <img [src]="img" class="img-fluid mb-3" style="width: 300px;">
                <div class="row">
                  <button class="btn custom-btn mr-0">
                    <img src="../../../assets/Icon material-delete.svg" (click)="deleteImage(img,i)" class="btn-icon-add"
                      alt="add">
                  </button>
                </div>
              </div>
            </ng-container>
          </div>
          <div class="row" *ngIf="novasImagems.length > 0">
            <button class="mt-3 btn btn-success" (click)="enviar()" type="submit">Salvar novas Imagens</button>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
