<div class="container-fluid">
  <button class="mt-3 btn" type="submit" (click)="backProdutos()"><img
    src="../../../../assets/voltar.svg" alt="First slide"></button>

  <div class="row mt-2 mb-2">
    <div class="col-lg-6">
      <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
        <ng-container *ngFor="let img of imageToShow">
          <mdb-carousel-item>
            <div class="view w-100">
              <img class="d-block w-100 custom-image" [src]="img" alt="First slide">
              <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
            </div>
          </mdb-carousel-item>
        </ng-container>
      </mdb-carousel>
    </div>
    <div class="col-lg-6 col-sm-12 col-md-12">
      <form [formGroup]="formProduto">
        <div class="form-row">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 custom-text-size24 font-bold mt-3">
             {{produto.nome}}
            </div>
          </div>
          <div class="col-lg-12 mb-12 mt-5 mb-4">
            <label for="validationDefault02" class="font-weight-bold">Descrição:</label>
            <div class="row col-lg-12 col-md-12 col-sm-12">
              {{produto.descricao}}
            </div>
          </div>
          <div class="col-lg-12 mt-2 mb-2"><ngb-rating [(rate)]="produto.qtdEstrelas!" [readonly]=true maxlength=5></ngb-rating></div>
          <div class="col-lg-12 mt-2 mb-2"> <pre>Avaliação: {{currentRate}}</pre></div>

          <div class="col-lg-12 col-md-2 mt-3 mb-3">
            <label for="validationDefault04" class="font-weight-bold">Categoria:</label>
            <div class="row col-lg-12 col-md-12 col-sm-12 col-6">
              {{produto.categoria}}
            </div>
          </div>
        </div>

        <div class="form-row mb-3">
          <div class="col-lg-6 col-md-6 custom-preco">
            <p class="card-text custom-price">{{produto.preco | currency:'BRL':'symbol':'0.2-2'}}</p>
            ou 12x
            <br>
            sem juros no cartão de crédito
          </div>
        </div>
        <div class="form-row text-center b-2">
          <div class="col-lg-12 col-md-12 mt-4 mb-4">
            <button (click)="adicionarCarrinho()" class="mt-12 btn btn-success">Comprar</button>
            </div>
        </div>
        <div class="form-row mt-4">
        </div>
      </form>
    </div>
    <hr>
  </div>
</div>
