html{
  background-color: azure;
}
.custom-text-size24{
  font-size: 22px;
  font-weight: bold;
}

.custom-image{
  border-radius: 10px;
  height: auto;
  cursor: zoom-in;
}
ngb-rating {
  font-size: 35px;
  color: #FFC300;
  border:none;
}
.form-control{
  border: none;
}

.custom-preco{
color: rgb(45, 182, 159);
}

.btn-success{
  width: 50%;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

}

.card-text{
  font-weight: bold;
  font-size: 25px;
}

