<nav class="navbar navbar-expand-lg navbar-light">
  <a (click)="dashboard()"><img class="navbar-brand" src="../../../../assets/logos/logo_principal.png"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <ng-container *ngIf="userRole==='ROLE_ADMIN' || userRole==='ROLE_ESTOQUISTA'">
        <li class="nav-item"><a class="nav-link" routerLink="/produtos">Produtos</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/funcionarios">Funcionarios</a></li>
      </ng-container>
      <li class="nav-item" *ngIf="userRole==='ROLE_ADMIN'"><a class="nav-link" routerLink="/clientes">Clientes</a></li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <ng-container *ngIf="!userRole">
            Olá, faça seu login <br> ou cadastre-se
          </ng-container>
          <ng-container *ngIf="userRole">
            Minha conta <br>
          </ng-container>
        </a>
        <div class="custom-drop dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <ng-container *ngIf="userRole">
            <ng-container *ngIf="userRole=='ROLE_CLIENTE'">
              <a class="dropdown-item" href="#">Meus Pedidos</a>
              <a class="dropdown-item" (click)="logout()">Sair</a>
            </ng-container>
            <ng-container *ngIf="userRole!='ROLE_CLIENTE'">
              <a class="dropdown-item" href="#">Configurações</a>
              <a class="dropdown-item" (click)="logout()">Sair</a>
            </ng-container>
          </ng-container>
          <ng-container *ngIf="!userRole">
            <a class="dropdown-item custom-item" routerLink='/login'>Entrar</a>
            <a class="dropdown-item" routerLink='/criar-conta'>Cliente novo? Cadastre-se</a>
          </ng-container>
        </div>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
