<div class=" custom-login  col-lg-4 col-md-12 col-sm-12">
  <h2 class="text-center">Entrar</h2>
  <form (ngSubmit)="onSubmit()" #form="ngForm">
    <div class="form-group">
      <label>E-mail</label>
      <input class="form-control" type="email" name="email" id="email" [(ngModel)]="usuario.email" required />
    </div>
    <div class="form-group">
      <label>Senha</label>
      <input class="form-control" type="password" name="password" id="password"  [(ngModel)]="usuario.senha" required />
    </div>
    <div class="row mx-auto">
      <button type="submit" class="btn btn-primary btn-block col-lg-4" [disabled]="form.form.invalid">Entrar</button>
      <button type="button" class="btn btn-link btn-block col-lg-4" [routerLink]="['/create-account']">Criar
        conta</button>
    </div>
  </form>
</div>
