<div class="container-fluid">
  <div class="row col-lg-12">

    <div class="col-lg-6">
      <h2 class="text-center">Entrar</h2>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="username">* E-mail</label>
          <input class="form-control" type="email" name="username" id="username" placeholder="exemplo@exemplo.com.br" formControlName="username" required />
          <ng-container *ngIf="f.username.errors">
              <p class="custom-invalid" *ngIf="f.username.errors.required && !formValid" style="color:red">* Campo obrigatório</p>
              <p class="custom-invalid" *ngIf="f.username.errors.email && !formValid" style="color:red">* E-mail inválido</p>
          </ng-container>
        </div>
        <div class="form-group">
          <label>* Senha</label>
          <input class="form-control" type="password" name="password" id="password" placeholder="*******"formControlName="password"
            required />
            <ng-container *ngIf="f.password.errors">
              <p class="custom-invalid" *ngIf="f.password.errors.required && !formValid" style="color:red">* Campo obrigatório</p>
          </ng-container>
        </div>
        <div class="row mx-auto">
          <button type="submit" class="btn btn-primary btn-block col-lg-4"
            >Entrar</button>
          <button type="button" class="btn btn-link btn-block col-lg-4">Criar
            conta</button>
        </div>
      </form>
    </div>
  </div>

</div>
