.custom-title{
  font-size: 20px;
  color: black;
  font-weight: bold;
}
.custom-title-card{
  font-size: 18px;
  color: black;
  font-weight: bold;
}
::ng-deep.mat-tab-label, ::ng-deep.mat-tab-label-active{
  min-width: 362px!important;
  padding: 3px!important;
  margin: 3px!important;
 }
 ::ng-deep .mat-table {
  min-width: 362px!important;
  padding: 3px!important;
  margin: 3px!important;
 }
 span, p{overflow:hidden; white-space: nowrap;}

 .custom-form-box {
  position: relative;
  background-color: #F1F1F1;
  border: 3px solid #E6E6E6;
  border-radius: 5px;
  height: 120px;
}
.btn-primary{
  background-color: #0C3758;
}
@media (max-width: 768px)   {
  ::ng-deep.mat-tab-label, ::ng-deep.mat-tab-label-active{
    min-width: auto!important;
    padding: 3px!important;
    margin: 3px!important;
   }

   .img-fluid{
     width: 50%;
   }
}
.img-button{
  margin-left: 20px;
}


h3{
  font-weight: bold;
}
.card-boleto{
  background-color: darkgray;
  max-width: 170px;
  min-width: 170px;
  min-height: 80px;
  border-radius: 0;
  border: none;
  color: white;
}
.sub-tile{
  font-family: bold;
}
.sc-iAyFgw{
  margin-top: 10px;
}
.sc-cvbbA{
  font-size: 34px;
}
