<div class="container-fluid">
  <div class="row">
    <div class="col-lg-5">
      <div class="row col-lg-12">
        <div class="col-lg-1 mt-4 mb-4">
          <button class="btn" type="submit" (click)="backPage()"><img src="./assets/icons/voltar.svg"
              alt="First slide"></button>
        </div>
        <div class="col-lg-11 d-flex justify-content-center mt-4 mb-4">
          <div class="custom-title"><img class="home-icon" src="./assets/icons/credit-card.svg">
            <p>Forma de Pagmento</p>
          </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
          <hr>
        </div>
      </div>
      <div class="col-lg-12 justify-content-center" *ngIf="cliente && cliente.enderecoCobranca">
        <mat-tab-group>
          <mat-tab label="Cartão de Crédito">
            <div class="col-lg-12 mt-2 mb-2 font-weight-bold">
              <h3>Aproveite até 10% de desconto* no pagamento à vista ou parcele em até 12x sem juros!</h3>
            </div>
            <div class="col-lg-12 mt-2 mb-2">
              <p>O TlgNé aceita as bandeiras de cartão VISA, MasterCard, ELO, HiperCard, American Express e Diners.
              </p>
            </div>
            <div class="row col-lg-12 mt-2 mb-2">
              <div class="col-lg-4 mt-2  font-weight-bold">
                <label for="validationDefault02">Forma de pagamento*</label>
              </div>
              <div class="col-lg-8">
                <input class="form-control" type="text">
              </div>
            </div>
            <div class="row col-lg-12 mt-2 mb-2">
              <div class="col-lg-4 mt-2  font-weight-bold">
                <label for="validationDefault02">Nome (escrito no cartão):*</label>
              </div>
              <div class="col-lg-8">
                <input class="form-control" type="text">
              </div>
            </div>
            <div class="row col-lg-12 mt-2 mb-2">
              <div class="col-lg-4 mt-2  font-weight-bold">
                <label for="validationDefault02">Número do cartão:*</label>
              </div>
              <div class="col-lg-8">
                <input class="form-control" type="text">
              </div>
            </div>
            <div class="row col-lg-12 mt-2 mb-2">
              <div class="col-lg-4 mt-2  font-weight-bold">
                <label for="validationDefault02">Validade (mm/aa):*</label>
              </div>
              <div class="col-lg-8">
                <input class="form-control" type="text">
              </div>
            </div>
            <div class="row col-lg-12 mt-2 mb-2">
              <div class="col-lg-4 mt-2  font-weight-bold">
                <label for="validationDefault02">Código de segurança:*</label>
              </div>
              <div class="col-lg-8">
                <input class="form-control" type="text">
              </div>
            </div>
            <div class="row col-lg-12 mt-2 mb-2">
              <div class="col-lg-4 mt-1  font-weight-bold">
                <label for="validationDefault02">CPF/CNPJ do proprietário do cartão:</label>
              </div>
              <div class="col-lg-8">
                <input class="form-control" type="text">
              </div>
            </div>
            <div class="row col-lg-12 mt-2 mb-2">
              <div class="col-lg-4 mt-2  font-weight-bold">
                <label for="validationDefault02">Data de nascimento:*</label>
              </div>
              <div class="col-lg-8">
                <input class="form-control" type="text">
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Pagar com Boleto"> Content 2 </mat-tab>
        </mat-tab-group>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="row col-lg-12">
        <div class="col-lg-12 d-flex justify-content-center mt-4 mb-4">
          <div class="custom-title"><img class="home-icon" src="./assets/icons/credit-card.svg">
            <p>Endereço de Cobrança</p>
          </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
          <hr>
        </div>
      </div>
      <div class="col-lg-12" *ngIf="cliente && cliente.enderecoCobranca">
        <div class="card w-100 border-dark">
          <div class="card-body text-center">
            <div class="row">
              <h3 class="card-title ml-3">
                {{cliente.enderecoCobranca.complemento}}</h3>
              <p class="mr-3">
            </div>
            <hr>
            <p class="card-text m-0"></p>
            <p class="card-text m-0"></p>
            <p class="card-text m-0">{{cliente.enderecoCobranca.logradouro}}, {{cliente.enderecoCobranca.numero}}</p>
            <p class="card-text m-0">{{cliente.enderecoCobranca.bairro}} - {{cliente.enderecoCobranca.cidade}} -
              {{cliente.enderecoCobranca.uf}}</p>
            <p class="card-text m-0">CEP: {{cliente.enderecoCobranca.cep}}</p>
          </div>
          <div class="card-footer border-dark" style="background-color: #0C3758;">
          </div>
        </div>
      </div>
      <div *ngIf="!cliente.enderecoCobranca">
        <div class="row col-lg-12 justify-content-center">
          <div class="col-lg-12 mt-2 text-center">
            <div class="custom-text-size1 ml-2">
              Você ainda não possui um endereço de cobrança
            </div>
          </div>
          <div class="col-lg-5 mt-3">
            <button mat-button class="col-lg-12" (click)="adicionarEnderecoCobranca()" color="primary">Novo endereço de
              cobrança</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="row col-lg-12">
        <div class="row col-lg-12 d-flex justify-content-center mt-4 mb-4">
          <div class="custom-title"><img class="order-icon" src="./assets/icons/order.svg">
            <p>Detalhes do Pedido</p>
          </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
          <hr>
        </div>
      </div>
      <div class="col-lg-12 mt-3 mb-3 text-center">
        <div class="col-lg-12" *ngFor="let detalhe of venda.detalhesVenda;let i=index">
          <div class="row">
            <div class="col-lg-2">
              <div class="row">
                <div class="col-lg-12" *ngIf="detalhe.produto && detalhe.produto.imageToShow">
                  <img [src]="detalhe.produto.imageToShow[0]" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="col-lg-6 mt-2">
              <div class="col-12"><a class="text-dark"
                  href="http://localhost:4200/#/dashboard/detalhes/{{detalhe.produto!.id}}">
                  <p>{{detalhe.produto!.nome}}</p>
                </a>
              </div>
            </div>
            <div class="col-lg-2 mt-2">
              <div class="row group-rem">
                <div class="col-12 d-flex align-items-center">
                  <p class="font-weight-bold mr-2">Qtd: </p>
                  <p>{{detalhe.quantidade}}</p>
                </div>
              </div>
            </div>
            <div class="col-lg-2 mt-2">
              <div class="row ">
                <div class="col-12 col-lg-6 mt-2 mt-lg-0 text-right font-weight-bold">
                  {{detalhe.subTotal | currency:'BRL':'symbol':'0.2-2'}}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="custom-form-box mb-5">
            <div class="d-flex justify-content-between col-lg-12">
              <div class="custom-text-size2 mt-2 ml-2">Quantidade:
              </div>
              <div class="custom-text-size3 mt-2">{{venda.quantidadeTotal}}
              </div>
            </div>
            <div class="d-flex justify-content-between col-lg-12">
              <div class="custom-text-size2 mt-2 ml-2">Frete:
              </div>
              <div class="custom-text-size3 mt-2">{{freteSelecionado.valorFrete | currency:'BRL':'symbol':'0.2-2'}}
              </div>
            </div>
            <div class="d-flex justify-content-between col-lg-12">
              <div class="custom-text-size2 mt-3 ml-2">Total:
              </div>
              <div class="custom-text-size3 mt-2">{{venda.valorTotal | currency:'BRL':'symbol':'0.2-2'}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="!cliente.enderecoCobranca">
        <div class="row col-lg-12 justify-content-center">
          <div class="col-lg-12 mt-2 text-center">
            <div class="custom-text-size1 ml-2">
              Você ainda não possui um endereço de cobrança
            </div>
          </div>
          <div class="col-lg-5 mt-3">
            <button mat-button class="col-lg-12" (click)="adicionarEnderecoCobranca()" color="primary">Novo endereço de
              cobrança</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
