<div class="container-fluid">
  <div class="row">
    <div class="row col-lg-12">
      <div class="row col-1 font-bold">
        <button class="mt-3 btn" type="submit" (click)="backPage()"><img src="./assets/icons/voltar.svg"
            alt="First slide"></button>
      </div>
      <div class="col-lg-10 font-weight-bold text-center mt-5 mb-3" style="font-size: 18px;">
        Meus Pedidos
      </div>
      <div class="col-lg-12">
        <hr>
      </div>
      <div class="row col-lg-12">

      </div>
    </div>
  </div>
</div>
