<div class="container-fluid">
  <div class="row col-lg-12 col-md-12">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12 custom-text-size24 font-bold mt-3">
        Listagem de Funcionarios
      </div>
    </div>
  </div>
  <hr>

  <div class="row col-12 col-sm-12 col-md-12">
    <!--INPUT FILTRAGEM DE FUNCIONARIOS-->
    <div class="col-lg-12 col-md-12 col-sm-12 col-12 mt-4 mb-0">
      <div class="row d-flex justify-content-center mt-3 mb-5">
        <input class="ml-0 col-lg-4 col-md-6 col sm-6 custom-input-search" type="text" placeholder="Pesquise"
          (ngModelChange)="this.searchFilter.next($event)" [(ngModel)]="filtroPesquisa" />
        <label class="ml-1 custom-lbl-filter">
          <button class="custon-btn-filter">
          </button>
        </label>
      </div>
      <!--FIM INPUT FILTRAGEM DE funcionarioS-->

      <!--BOTAO ADICIONAR funcionario-->
      <button class="btn btn-add mb-3" type="button" *ngIf="isAdmin" (click)="adicionarFuncionario()">
        <img src="../../../assets/plus-circle.svg" class="btn-icon-add" alt="add">
      </button>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-12 mt-3 mb-3">
      <table class="table custom-table">
        <thead>
          <tr>
            <th scope="col">Nome</th>
            <th scope="col" *ngIf="isAdmin">CPF</th>
            <th scope="col" *ngIf="isAdmin">Telefone</th>
            <th scope="col">Cargo</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let funcionario of funcionarios| paginate: {id: 'listing_pagination',
                 itemsPerPage: 10,
                 currentPage: this.page,
                 totalItems: totalRegistros};let i=index ">
            <td>{{funcionario.nome}}</td>
            <td *ngIf="isAdmin">{{funcionario.cpf! | mask: '000.000.000-00'}}</td>
            <td *ngIf="isAdmin">{{funcionario.telefone! | mask: '(00)00000-0000'}}</td>
            <td>{{funcionario.cargo}}</td>
            <td>
              <mat-slide-toggle [(ngModel)]="funcionario.status" [disabled]="!isAdmin" (change)="habilitarFuncionario(funcionario)" [color]="color"
                class="align-middle"></mat-slide-toggle>
            </td>
            <td>
              <button *ngIf="isAdmin" class="btn">
                <img src="../../../assets/botao-editar.svg" (click)="editarFuncionario(funcionario)" class="btn-icon-add"
                  alt="add">
              </button>
            </td>
        </tbody>
      </table>
      <div class="row">
        <div class="col-lg-8  "></div>
        <pagination-controls id="listing_pagination"  maxlength='5' previousLabel="Anterior"   nextLabel="próximo"
          (pageChange)="page = $event">
        </pagination-controls>
      </div>
    </div>
  </div>
</div>
