<div class="container-fluid">
  <div class="row col-lg-12 d-flex justify-content-center mt-3 mb-3">
    <div class="custom-icon-title mr-2"><img src="../../../../assets/Icon awesome-user-alt.svg"></div>
    <div class="custom-title mt-2">Minha Conta</div>
  </div>
  <div class="row">
      <div class="row col-lg-12 col-sm-12 mx-auto">
        <div class="row col-lg-2 custom-form-box mx-auto text-center mt-3 mb-2">
          <a class="col-12 text-center text-dark" href="#" title="Minhas Compras">
            <img src="../../../../assets/icons/icon-minhas-compras.png">
            <h3 class="font-weight-bold mt-3">Histórico de Compras</h3>
            <p>Acompanhe o andamento e o histórico de seus pedidos feitos no Site</p>
          </a>
        </div>
        <div class="row col-lg-2 custom-form-box mx-auto text-center mt-3 mb-2">
          <a class="col-12 text-center text-dark" href="http://localhost:4200/#/configuracoes/meus-dados/{{id}}" title="Minhas Compras">
            <img src="../../../../assets/icons/icon-meu-cadastro.png">
            <h3 class="font-weight-bold mt-3">Meu Cadastro</h3>
            <p>Altere seus dados cadastrais</p>
          </a>
        </div>
        <div class="row col-lg-2 custom-form-box mx-auto text-center mt-3 mb-2">
          <a class="col-12 text-center text-dark" href="#" title="Minhas Compras">
            <img src="https://img.kalunga.com.br/minha-conta/icon-minhas-compras.png">
            <h3 class="font-weight-bold mt-3">Cobrança</h3>
            <p>Altere seu endereço de cobrança</p>
          </a>
        </div>
        <div class="row col-lg-2 custom-form-box mx-auto text-center mt-3 mb-2">
          <a class="col-12 text-center text-dark" href="http://localhost:4200/#/configuracoes/enderecos" title="Minhas Compras">
            <img src="https://img.kalunga.com.br/minha-conta/icon-minhas-compras.png">
            <h3 class="font-weight-bold mt-3">Endereços</h3>
            <p>Altere ou adicione endereços</p>
          </a>
        </div>
    </div>
  </div>
</div>
