.btn-icon-add {
  height: 30px;
  color:green;
  width: 30px;

}

.custon-btn-filter{
  background-image: url('/assets/botao-de-menu.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 50px;
  height: 35px;
  border: 1px solid #a09be9;
  border-radius: 5px;
  background-color: #a09be9;
  outline: none;
}
.custom-text-size24{
  font-size: 22px;
  font-weight: bold;
}
::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: #F1F1F1;
}
::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: #0C3750;
}
.btn-dark {
  background-color: #0C3750;
}

