.bg-page {
  background-color: #E6E6E6;
}
.custom-text-size24{
  font-size: 22px;
  font-weight: bold;
}
.custom-button{
  margin-right: 0% ;
}
#quantity{
  opacity: 0.6;
  border: none;
}

ngb-rating {
  font-size: 35px;
  color: #FFC300;
  border:none;
}
