<div class="container-fluid">
  <div class="col-12 col-sm-12 col-md-12">
    <button class="mt-3 mb-4 btn btn-warning" type="submit" (click)="backProdutos()">Produtos</button>
    <form>
      <div class="form-row">
        <div class="col-md-12 mb-3">
          <label for="validationDefault01">Nome</label>
          <input type="text" class="form-control" name="nome" placeholder="Nome" [(ngModel)]="produto.nome" required>
        </div>
        <div class="col-md-4 mb-12">
          <label for="validationDefault02">Descricao</label>
          <input type="text" class="form-control" name="Descricao" placeholder="Descricao"
            [(ngModel)]="produto.descricao" required>
        </div>
        <div class="col-md-4 mb-3">
          <label for="validationDefaultUsername">Preço</label>
          <div class="input-group">
            <input type="text" class="form-control" name="Preço" placeholder="Preço"
              aria-describedby="inputGroupPrepend2" [(ngModel)]="produto.preco" required>
          </div>
        </div>
        <div class="col-md-4 mb-3 ">
          <label for="validationDefaultUsername">Ativo</label>
          <div class="form-check form-switch">
            <input class="form-check-input" (click)="habilitaProduto($event)" type="checkbox" id="ativo">
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-5 mb-3">
          <label for="validationDefault03">Qtd. em estoque</label>
          <input type="text" class="form-control" name="quantidadeEstoque" placeholder="Qtd. em estoque"
            [(ngModel)]="produto.quantidadeEstoque" required>
        </div>
        <div class="col-md-12 mb-12">
          <label for="validationDefault04">Categoria</label>
          <input type="text" class="form-control" name="categoria" placeholder="Categoria"
            [(ngModel)]="produto.categoria" required>

        </div>
      </div>

      <div class="form-row">
        <div class="col-md-5 mb-3">
          <label class="image-upload-container btn btn-bwm">
            <div class=row><span>Selecione as imagens</span></div>
            <div class=row><input #imageInput type="file" accept="image/*" multiple (change)="processFile($event)"></div>
          </label>
        </div>
      </div>
      <button class="mt-3 btn btn-primary" (click)="addProduto()" type="submit">Cadastrar</button>
    </form>
  </div>
</div>
