<div class="container-fluid">
  <div class="col-12">
    <div class="row">
      <div class="col-lg-2 col-md-12 col-sm-12 col-12 custom-text-size24 font-bold">
        <button class="mt-3 mb-4 btn btn-dark" type="submit" (click)="backProdutos()">Voltar</button>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12 col-12 custom-text-size24 font-bold mt-4">
        Novo Produto
      </div>
    </div>
    <hr>
    <form [formGroup]="formProduto">
      <div class="form-row mt-4">
        <div class="col-lg-3 col-sm-12 mb-12">
          <label for="validationDefault01">Nome</label>
          <input type="text" class="form-control" name="nome" placeholder="Nome" formControlName="nome" required>
          <ng-container *ngIf="f.nome.errors">
            <p class="custom-invalid" *ngIf="f.nome.errors.required && !formValid" style="color:red">* Campo obrigatório
            </p>
          </ng-container>
        </div>
        <div class="col-lg-3 col-sm-12 mb-12">
          <label for="validationDefault02">Descricao</label>
          <input type="text" class="form-control" name="Descricao" placeholder="Descricao" formControlName="descricao"
            required>
          <ng-container *ngIf="f.descricao.errors">
            <p class="custom-invalid" *ngIf="f.descricao.errors.required && !formValid" style="color:red">* Campo
              obrigatório</p>
          </ng-container>
        </div>
      </div>
      <div class="form-row mt-2">
        <div class="col-lg-3 col-sm-12">
          <label class="custom-lbl" for="validationDefaultUsername">Preço</label>
          <div class="input-group">
            <input type="text" class="form-control" pattern="[0-9]*" name="preco" placeholder="Preço" currencyMask
              [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'left' }"
              aria-describedby="inputGroupPrepend2" formControlName="preco" required>
          </div>
          <ng-container *ngIf="f.preco.errors">
            <p class="custom-invalid" *ngIf="f.preco.errors.required && !formValid" style="color:red">* Campo
              obrigatório</p>
          </ng-container>
        </div>
        <div class="col-lg-3 col-sm-12">
          <div class="input-group">
            <input type="number" class="form-control" name="quantidadeEstoque" pattern="[0-9]*"
              placeholder="Qtd. em estoque" formControlName="quantidadeEstoque" required>
          </div>
          <ng-container *ngIf="f.quantidadeEstoque.errors">
            <p class="custom-invalid" *ngIf="(f.quantidadeEstoque.errors.required) && !formValid" style="color:red">*
              Campo obrigatório</p>
          </ng-container>
        </div>
      </div>
      <div class="form-row mt-2">
        <div class="mt-4 col-lg-3 col-sm-12 ">
          <label class="custom-lbl" for="validationDefaultUsername"> Habilitar Produto</label>
          <div class="input-group">
            <mat-slide-toggle formControlName="status" (click)="changeStatus()" [color]="color" class="align-middle">
            </mat-slide-toggle>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-2 col-md-5 col-sm-12 mt-3">
          <mat-form-field appearance="fill">
            <mat-label>Categoria</mat-label>
            <mat-select formControlName="categoria">
              <mat-option *ngFor="let item of categoria" [value]="item.name">
                {{item.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <ng-container *ngIf="f.categoria.errors">
            <p class="custom-invalid" *ngIf="f.categoria.errors.required && !formValid" style="color:red">* Campo
              obrigatório</p>
          </ng-container>
        </div>
      </div>

      <div class="row col-lg-6">
        <ngb-rating [(rate)]="currentRate" maxlength=5></ngb-rating>
      </div>
      <hr>
      <pre>Avaliação: <b>{{currentRate}}</b></pre>
    </form>
    <button class="mt-3 btn btn-dark" (click)="addProduto()" type="submit">Prosseguir -
      Imagens</button>
  </div>
</div>
