<div class="col-lg-12 mt-2 mb-2 font-weight-bold">
  <h3>Aproveite até 10% de desconto* no pagamento à vista ou parcele em até 12x sem juros!</h3>
</div>
<div class="col-lg-12 mt-2 mb-2">
  <p>O TlgNé aceita as bandeiras de cartão VISA, MasterCard, ELO, HiperCard, American Express e Diners.
  </p>
</div>
<div class="row col-lg-12 mt-2 mb-2">
  <div class="col-lg-4 mt-2  font-weight-bold">
    <label for="validationDefault02">Forma de pagamento*</label>
  </div>
  <div class="col-lg-8">
    <select class="form-control" aria-label="null">
      <option [value]="parcelas[0]">{{parcelas[0].totalParcelas}} vez de {{parcelas[0].valor | currency:'BRL':'symbol':'0.2-2'}} com 10% de desconto</option>
      <ng-container *ngFor="let pagamento of parcelas; let i=index">
        <option *ngIf="i>0" (onSelectionChange)="setValorVenda(pagamento)">{{pagamento.totalParcelas}} vezes de
          {{pagamento.valor | currency:'BRL':'symbol':'0.2-2'}} sem juros</option>
      </ng-container>
    </select>
  </div>
</div>
<div class="row col-lg-12 mt-2 mb-2">
  <div class="col-lg-4 mt-2  font-weight-bold">
    <label for="validationDefault02">Nome (escrito no cartão):*</label>
  </div>
  <div class="col-lg-8">
    <input class="form-control" type="text" minlength="3">
  </div>
</div>
<div class="row col-lg-12 mt-2 mb-2">
  <div class="col-lg-4 mt-2  font-weight-bold">
    <label for="validationDefault02">Número do cartão:*</label>
  </div>
  <div class="col-lg-8">
    <input class="form-control" mask="0000 0000 0000 0000 000" placeholder="Somente números, sem espaços" type="text">
  </div>
</div>
<div class="row col-lg-12 mt-2 mb-2">
  <div class="col-lg-4 mt-2  font-weight-bold">
    <label for="validationDefault02">Validade (mm/aa):*</label>
  </div>
  <div class="col-lg-8">
    <input class="form-control" type="month">
  </div>
</div>
<div class="row col-lg-12 mt-2 mb-2">
  <div class="col-lg-4 mt-2  font-weight-bold">
    <label for="validationDefault02">Código de segurança:*</label>
  </div>
  <div class="col-lg-8">
    <input type="text" class="form-control" mask="000" minlength="3" maxlength="3"  placeholder="Somente números, sem espaços" type="text">
  </div>
</div>
<div class="row col-lg-12 mt-2 mb-2">
  <div class="col-lg-4 mt-1  font-weight-bold">
    <label for="validationDefault02">CPF/CNPJ do proprietário do cartão:</label>
  </div>
  <div class="col-lg-8">
    <input class="form-control" type="text" mask="000.000.000-00">
  </div>
</div>
<div class="row col-lg-12 mt-2 mb-2">
  <div class="col-lg-4 mt-2  font-weight-bold">
    <label for="validationDefault02">Data de nascimento:*</label>
  </div>
  <div class="col-lg-8">
    <input class="form-control" type="text" type="date">
  </div>
</div>
