<div class="container-fluid">
  <div class="container-fluid">
    <div class="col-12">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12 custom-text-size24 font-bold mt-3">
          Editar Produto: {{produto.nome}}
        </div>
      </div>
    </div>
    <hr>
    <div class="col-lg-12 col-sm-12 col-md-12">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <button class="mt-3 btn btn-dark" type="submit" (click)="backProdutos()">Produtos</button>
          <form [formGroup]="formProduto">
            <div class="form-row mt-4">
              <div class="col-lg-6 col-sm-12 mb-12">
                <label for="validationDefault01">Nome</label>
                <input type="text" class="form-control" name="nome" placeholder="Nome" formControlName="nome">
              </div>
              <div class="col-lg-6 col-sm-12 mb-12">
                <label for="validationDefault02">Descricao</label>
                <input type="text" class="form-control" name="Descricao" placeholder="Descricao"
                  formControlName="descricao" required>
              </div>
            </div>
            <div class="form-row mt-2">
              <div class="col-lg-6 col-sm-12">
                <label class="custom-lbl" for="validationDefaultUsername">Preço</label>
                <div class="input-group">
                  <input type="text" class="form-control"  name="Preço" placeholder="Preço" currencyMask
                    [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'left' }"
                    aria-describedby="inputGroupPrepend2" formControlName="preco">
                </div>
              </div>
              <div class="mt-4 col-lg-6 col-sm-12 ">
                <div class="input-group">
                  <mat-slide-toggle formControlName="status" [color]="color"  class="align-middle">Habilitar Produto</mat-slide-toggle>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="col-lg-6 col-sm-12">
                <label for="validationDefault03">Qtd. em estoque</label>
                <input type="text" class="form-control" name="quantidadeEstoque" pattern="[0-9]*"
                  placeholder="Qtd. em estoque" formControlName="quantidadeEstoque" required>
              </div>
              <div class="col-lg-6 col-sm-12">
                <label for="validationDefault04">Categoria</label>
                <input type="text" class="form-control" name="categoria" placeholder="Categoria"
                  formControlName="categoria">
              </div>
            </div>
            <button class="mt-3 btn btn-primary" (click)="editarProduto(formProduto.value)" type="submit">Salvar
              Alterações</button>
          </form>
        </div>
        <div class="col-lg-4">
          <mdb-carousel class="carousel slide carousel-fade" [(activeSlide)]="idImagem" [animation]="'fade'">
            <ng-container *ngFor="let img of imageToShow; let i=index">
              <mdb-carousel-item>
                <div class="view w-100">
                  <img class="d-block w-100" [src]="img" alt="First slide">
                  <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
                </div>
                <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
              </mdb-carousel-item>
            </ng-container>
          </mdb-carousel>
          <button (click)="editarImagens()" class="  btn mt-2 btn-dark">Editar Imagens</button>
        </div>
      </div>
    </div>
  </div>
