<div class="col-lg-12 col-md-12 col-sm-12 col-12 mt-4 mb-4" *ngIf="vendas">
  <div class="row">
    <div class="col-12 custom-table-form-box  ">
      <div class="table-responsive  ">
        <table class="table custom-table">
          <thead>
            <tr>
              <th class="clickable" scope="col">
                Cliente
                <span *ngIf="orderByConfig.orderKey === 'Lote'">
                  {{orderByConfig.reverse ? '▼' : '▲'}}
                </span>
              </th>
              <th class="clickable" scope="col">
                Data da Venda
                <span *ngIf="orderByConfig.orderKey === 'Lote'">
                  {{orderByConfig.reverse ? '▼' : '▲'}}
                </span>
              </th>
              <th class="clickable" scope="col">
                Valor Total
                <span *ngIf="orderByConfig.orderKey === 'Lote'">
                  {{orderByConfig.reverse ? '▼' : '▲'}}
                </span>
              </th>
              <th class="clickable" scope="col">
                Qtd de Produtos
                <span *ngIf="orderByConfig.orderKey === 'Lote'">
                  {{orderByConfig.reverse ? '▼' : '▲'}}
                </span>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let venda of vendas">
              <ng-container *ngIf="venda && venda.cliente && venda.detalhesVenda">
                <td class="clickable" (click)="modalProdutos(venda.id)">
                  {{venda.cliente.nome}}
                </td>
                <td class="clickable" (click)="modalProdutos(venda.id)">
                  {{venda.dataVenda}}</td>
                <td class="clickable" (click)="modalProdutos(venda.id)">
                  {{venda.valorTotal}}
                </td>
                <td class="clickable" (click)="modalProdutos(venda.id)">
                  {{venda.detalhesVenda.length}}</td>
              </ng-container>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- Fim Paginação -->
