.bg-page {
  background-color: #E6E6E6;
}
.custom-text-size24{
  font-size: 22px;
  font-weight: bold;
}
.custom-text-size18{
  font-size: 18px;
  font-weight: bold;
}
.custom-button{
  margin-right: 0% ;
}
#quantity{
  opacity: 0.6;
  border: none;
}

ngb-rating {
  font-size: 35px;
  color: #FFC300;
  border:none;
}

.custom-ng-select::ng-deep .ng-select-container {
  outline: none;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  box-sizing: border-box;
  background-color: #ffffff;
  border: 1px solid #DFDFDF;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  height: 2.8rem;
  font-size: 14px;
  font-family: "Segoe UI", Arial, sans-serif;
  font-weight: 600;

}
