<div class="container-fluid">
  <div class="col-12">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12 custom-text-size24 font-bold mt-3">
        Novo Funcionário
      </div>
    </div>
    <hr>
    <button class="mt-3 mb-4 btn btn-warning" type="submit" (click)="backPage()">Produtos</button>
    <form [formGroup]="formFuncionario" class="needs-validation" novalidate (ngSubmit)="onSubmit()">

      <div class="form-row mt-4">
        <div class="col-lg-3 col-sm-12 mb-12">
          <label for="validationDefault01">* Nome</label>
          <input type="text" class="form-control" minlength="3" name="nome" placeholder="Nome" formControlName="nome"
            [ngClass]="{ 'is-invalid': !formValid && f.nome.errors }" required>
          <div *ngIf="!formValid && f.nome.errors" class="invalid-feedback">
            <div *ngIf="f.nome.errors.required">* Campo obrigatório</div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-12 mb-12">
          <label for="validationDefault02">* CPF</label>
          <input type="text"  name="cpf" placeholder="000.000.00-00 " formControlName="cpf" class="form-control cpf-mask"  required
          [ngClass]="{ 'is-invalid': !formValid && f.cpf.errors }" maxlength="11" minlength="11">
          <div *ngIf="!formValid && f.cpf.errors" class="invalid-feedback">
            <div *ngIf="f.cpf.errors.required">* Campo obrigatório</div>
          </div>
        </div>
      </div>

      <div class="form-row mt-2">
        <div class="col-lg-3 col-sm-12">
          <label for="example-date-input">* Data de Nascimento</label>
            <input class="form-control" formControlName="dataNascimento" type="date" [ngClass]="{ 'is-invalid': !formValid && f.dataNascimento  .errors }">
          <div *ngIf="!formValid && f.dataNascimento.errors" class="invalid-feedback">
            <div *ngIf="f.dataNascimento.errors.required">* Campo obrigatório</div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-12">
          <label for="example-date-input">* Telefone</label>
            <input class="form-control" formControlName="telefone" placeholder="(00)00000-0000" type="tel" [ngClass]="{ 'is-invalid': !formValid && f.telefone.errors }">
          <div *ngIf="!formValid && f.telefone.errors" class="invalid-feedback" mask="[00]-[000]-[000]">
            <div *ngIf="f.telefone.errors.required">* Campo obrigatório</div>
          </div>
        </div>
      </div>

      <div class="form-row mt-2">
        <div class="col-lg-3 col-sm-12 mb-12">
          <label for="email">* E-mail</label>
          <input formControlName="email" [ngClass]="{ 'is-invalid': !formValid && f.email.errors }"
            name="email" class="form-control" required placeholder="email@email.com" type="email"
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
          <div *ngIf="!formValid && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">* Campo obrigatório</div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-12 mb-12">
          <label for="password">* Senha</label>
          <input formControlName="password" [ngClass]="{ 'is-invalid': !formValid && f.password.errors }"
            name="password" class="form-control text-muted" required placeholder="Senha" type="password" required>
          <div *ngIf="!formValid && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">* Campo obrigatório</div>
          </div>
        </div>
      </div>

      <div class="form-row mt-2">
        <div class="col-lg-2 col-md-5 col-sm-12 mt-3">
          <mat-form-field appearance="fill">
            <mat-label>Cargo</mat-label>
            <mat-select formControlName="cargo">
              <mat-option *ngFor="let item of cargos" [value]="item.nome">
                {{item.nome}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="form-row mt-2">
        <div class="col-lg-3 col-sm-12 mb-12">
          <label class="control-label" for="CEP">CEP *</label>
          <input id="cep" name="cep" formControlName="cep" [ngClass]="{ 'is-invalid': !formValid && f.cep.errors }"
            placeholder="Apenas números" class="form-control cep-mask" required="" value="" type="search" minlength="8"
            maxlength="8" pattern="[0-9]+$">
          <div class="row mt-2 col-lg-12">
            <button type="button mt-1" class="btn btn-primary" (click)="buscarCep()">Pesquisar</button>
          </div>
          <div *ngIf="!formValid && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">* Campo obrigatório</div>
          </div>
        </div>
      </div>

      <ng-container *ngIf="cepValido">
        <!--DADOS DO ENDEREÇO-->
        <div class="form-row mt-2">
          <div class="col-lg-3 col-sm-12 mb-12">
            <label for="logradouro">Logradouro</label>
            <input type="text" class="form-control" minlength="3" name="logradouro"
              placeholder="logradouro" [value]="formFuncionario.value.logradouro"
              [ngClass]="{ 'is-invalid': !formValid && f.logradouro.errors }" required>
            <div *ngIf="!formValid && f.logradouro.errors" class="invalid-feedback">
              <div *ngIf="f.logradouro.errors.required">* Campo obrigatório</div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-12 mb-12">
            <label for="validationDefault01">Cidade</label>
            <input type="text" class="form-control" minlength="3" disabled="true" name="localidade"
              placeholder="localidade" [value]="formFuncionario.value.localidade"
              [ngClass]="{ 'is-invalid': !formValid && f.localidade.errors }" required>
            <div *ngIf="!formValid && f.localidade.errors" class="invalid-feedback">
              <div *ngIf="f.localidade.errors.required">* Campo obrigatório</div>
            </div>
          </div>
        </div>

        <div class="form-row mt-2">
          <div class="col-lg-3 col-sm-12 mb-12">
            <label for="validationDefault01">UF</label>
            <input type="text" class="form-control" minlength="3" name="uf" placeholder="uf"
              [value]="formFuncionario.value.uf" disabled="true"
              [ngClass]="{ 'is-invalid': !formValid && f.nome.errors }" required>
            <div *ngIf="!formValid && f.nome.errors" class="invalid-feedback">
              <div *ngIf="f.nome.errors.required">* Campo obrigatório</div>
            </div>
          </div>
        </div>
      </ng-container>
      <hr>
      <button class="mt-3 btn btn-dark" (click)="addFuncionario()" type="submit">Finalizar Cadastro</button>
    </form>
  </div>
</div>
