.bg-page {
  background-color: #E6E6E6;
}
.custom-text-size24{
  font-size: 22px;
  font-weight: bold;
}
.custom-text-size2{
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.custom-button{
  margin-right: 0% ;
}

.img-fluid{
 border: solid 1px;
 width: auto;
 border-radius: 10px;
 height: auto;
}

.custom-trash{
  size: 80%
}
@media screen and (max-width:768px) {
  .img-fluid{
    border: solid 1px;
    border-radius: 10px;
    height: auto;
   }
  }

  ::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: #F1F1F1;
  }
  ::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: #0C3750;
  }
