.custom-title{
  font-size: 25px;
  color: black;
  font-weight: bold;
}
.custom-title-card{
  font-size: 18px;
  color: black;
  font-weight: bold;
}
.custom-rua{
  font-size: 15px;
  color: black;
}
.custom-form-box {
  position: relative;
  background-color: #F1F1F1;
  border: 3px solid #E6E6E6;
  border-radius: 5px;
  height: 200px;
}
