<div class="container-fluid">
  <div class="row col-lg-12 d-flex justify-content-center mt-4 mb-4">
    <div class="custom-title">Selecione o Endereço de Entrega</div>
  </div>
  <hr>
  <div class="row col-lg-12 justify-content-center mt-3 mb-3" *ngIf="endereco">
    <div class="row col-lg-12">
      <div class="card w-100 border-dark">
        <div class="card-body">
          <div class="row justify-content-between">
            <h3 class="card-title ml-3">
              {{endereco.complemento}}</h3>
            <p class="mr-3">
          </div>
          <hr>
          <p class="card-text m-0"></p>
          <p class="card-text m-0"></p>
          <p class="card-text m-0">{{endereco.logradouro}}, {{endereco.numero}}</p>
          <p class="card-text m-0">{{endereco.bairro}} - {{endereco.cidade}} - {{endereco.uf}}</p>
          <p class="card-text m-0">CEP: {{endereco.cep}}</p>
        </div>
        <div class="card-footer border-dark" style="background-color: #0C3758;">
        </div>
      </div>
    </div>
  </div>
  <div class="row col-lg-12 mt-3 mb-3">
    <div class="row col-lg-6">
      <mat-form-field appearance="fill" class="col-lg-12 col-md-12 col-sm-12">
        <mat-label>Outro endereço</mat-label>
        <mat-select>
          <mat-option *ngFor="let end of enderecos; let i=index" (onSelectionChange)="enderecoEntrega(i)">
            {{end.complemento}} - {{end.logradouro}}, {{end.numero}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-lg-6">
      <button mat-button class="col-lg-12" (click)="adicionarEndereco()" color="primary">Adicionar endereço</button>
    </div>
  </div>
  <!--<button type="submit" class="btn btn-primary">Revisar dados da compra</button>-->
</div>
