<div class="container-fluid" *ngIf="this.venda">
  <div class="row">
    <div class="col-lg-4">
      <div class="row col-lg-12">
        <div class="row col-lg-12 d-flex justify-content-center mt-4 mb-4">
          <div class="custom-title"><img class="home-icon" src="./assets/icons/home.svg">
            <p>Endereço de Entrega</p>
          </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
          <hr>
        </div>
      </div>
      <div class="col-lg-12 text-center mt-3 mb-3" *ngIf="endereco">
        <div class="card w-100 border-dark">
          <div class="card-body">
            <div class="row justify-content-between">
              <h3 class="card-title ml-3">
                {{endereco.complemento}}</h3>
              <p class="mr-3">
            </div>
            <hr>
            <p class="card-text m-0"></p>
            <p class="card-text m-0"></p>
            <p class="card-text m-0">{{endereco.logradouro}}, {{endereco.numero}}</p>
            <p class="card-text m-0">{{endereco.bairro}} - {{endereco.cidade}} - {{endereco.uf}}</p>
            <p class="card-text m-0">CEP: {{endereco.cep}}</p>
          </div>
          <div class="card-footer border-dark" style="background-color: #0C3758;">
          </div>
        </div>
      </div>
      <div class="row mt-3 mb-3" *ngIf="endereco">
        <div class="col-lg-6">
          <mat-form-field appearance="fill" class="col-lg-12 col-md-12 col-sm-12">
            <mat-label>Outro endereço</mat-label>
            <mat-select>
              <mat-option *ngFor="let end of enderecos; let i=index" (onSelectionChange)="enderecoEntrega(i)">
                {{end.complemento}} - {{end.logradouro}}, {{end.numero}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-lg-6">
          <div class="col-lg-12">
            <button mat-button class="col-lg-12" (click)="adicionarEndereco()" color="primary">Adicionar
              endereço
            </button>
          </div>
        </div>
      </div>
      <div class="row col-lg-12 justify-content-center" *ngIf="!endereco">
        <div class="col-lg-12 text-center">
          <div class="custom-text-size1 ml-2">
            Você ainda não possui um endereço de entrega
          </div>
        </div>
        <div class="col-lg-4 mt-3">
          <button mat-button class="col-lg-12" (click)="adicionarEndereco()" color="primary">Adicionar endereço</button>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="row col-lg-12">
        <div class="row col-lg-12 d-flex justify-content-center mt-4 mb-4">
          <div class="custom-title"><img class="card-icon" src="./assets/icons/truck.svg">
            <p>Selecione o Frete</p>
          </div>
        </div>
        <div class="row col-lg-12 col-md-12 col-sm-12">
        </div>
      </div>
      <div class="col-lg-12 mt-3 mb-3 ">
        <div class="table">
          <thead>
            <tr>
              <th></th>
              <th scope="col">VALOR</th>
              <th scope="col" style="min-width: 200px;">MÉTODO DE ENVIO</th>
              <th scope="col">PRAZO</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let frete of fretes">
              <td><input class="form-check-input ml-auto" [checked]="frete.transportadora == freteSelecionado.transportadora" id="button" type="radio" name="frete" (click)="selectfrete(frete)"></td>
              <td scope="row">{{frete.valorFrete | currency:'BRL':'symbol':'0.2-2'}}</td>
              <td>{{frete.transportadora}}</td>
              <td>2 DIAS ÚTEIS</td>
            </tr>
          </tbody>
        </div>

        <!--<div class="card w-100 border-dark">
          <div class="card-body">
            <div class="row">
              <h3 class="card-title ml-3">
                {{cliente.enderecoCobranca.complemento}}</h3>
              <p class="mr-3">
            </div>
            <hr>
            <p class="card-text m-0"></p>
            <p class="card-text m-0"></p>
            <p class="card-text m-0">{{cliente.enderecoCobranca.logradouro}}, {{cliente.enderecoCobranca.numero}}</p>
            <p class="card-text m-0">{{cliente.enderecoCobranca.bairro}} - {{cliente.enderecoCobranca.cidade}} -
              {{cliente.enderecoCobranca.uf}}</p>
            <p class="card-text m-0">CEP: {{cliente.enderecoCobranca.cep}}</p>
          </div>
          <div class="card-footer border-dark" style="background-color: #0C3758;">
          </div>
        </div>-->
      </div>
      <div *ngIf="!cliente.enderecoCobranca">
        <div class="row col-lg-12 justify-content-center">
          <div class="col-lg-12 mt-2 text-center">
            <div class="custom-text-size1 ml-2">
              Você ainda não possui um endereço de cobrança
            </div>
          </div>
          <div class="col-lg-5 mt-3">
            <button mat-button class="col-lg-12" (click)="adicionarEnderecoCobranca()" color="primary">Novo endereço de
              cobrança</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="row col-lg-12">
        <div class="row col-lg-12 d-flex justify-content-center mt-4 mb-4">
          <div class="custom-title"><img class="order-icon" src="./assets/icons/order.svg">
            <p>Detalhes do Pedido</p>
          </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
          <hr>
        </div>
      </div>
      <div class="col-lg-12 mt-3 mb-3 text-center">
        <div class="col-lg-12" *ngFor="let detalhe of venda.detalhesVenda;let i=index">
          <div class="row">
            <div class="col-lg-2">
              <div class="row">
                <div class="col-lg-12" *ngIf="detalhe.produto && detalhe.produto.imageToShow">
                  <img [src]="detalhe.produto.imageToShow[0]" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="col-lg-6 mt-2">
              <div class="col-12"><a class="text-dark"
                  href="http://localhost:4200/#/dashboard/detalhes/{{detalhe.produto!.id}}">
                  <p>{{detalhe.produto!.nome}}</p>
                </a>
              </div>
            </div>
            <div class="col-lg-2 mt-2">
              <div class="row group-rem">
                <div class="col-12 d-flex align-items-center">
                  <p class="font-weight-bold mr-2">Qtd: </p>
                  <p>{{detalhe.quantidade}}</p>
                </div>
              </div>
            </div>
            <div class="col-lg-2 mt-2">
              <div class="row ">
                <div class="col-12 col-lg-6 mt-2 mt-lg-0 text-right font-weight-bold">
                  {{detalhe.subTotal | currency:'BRL':'symbol':'0.2-2'}}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="custom-form-box mb-5">
            <div class="d-flex justify-content-between col-lg-12">
              <div class="custom-text-size2 mt-2 ml-2">Quantidade:
              </div>
              <div class="custom-text-size3 mt-2">{{venda.quantidadeTotal}}
              </div>
            </div>
            <div class="d-flex justify-content-between col-lg-12">
              <div class="custom-text-size2 mt-2 ml-2">Frete:
              </div>
              <div class="custom-text-size3 mt-2">{{freteSelecionado.valorFrete | currency:'BRL':'symbol':'0.2-2'}}
              </div>
            </div>
            <div class="d-flex justify-content-between col-lg-12">
              <div class="custom-text-size2 mt-3 ml-2">Total:
              </div>
              <div class="custom-text-size3 mt-2">{{venda.valorTotal | currency:'BRL':'symbol':'0.2-2'}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="!cliente.enderecoCobranca">
        <div class="row col-lg-12 justify-content-center">
          <div class="col-lg-12 mt-2 text-center">
            <div class="custom-text-size1 ml-2">
              Você ainda não possui um endereço de cobrança
            </div>
          </div>
          <div class="col-lg-5 mt-3">
            <button mat-button class="col-lg-12" (click)="adicionarEnderecoCobranca()" color="primary">Novo endereço de
              cobrança</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4"></div>
    <div class="row col-lg-12 justify-content-between" *ngIf="endereco && cliente.enderecoCobranca">
      <button class="btn text-center"></button>
      <button class="btn btn-primary col-lg-2 text-center" (click)="finalizarCompra()">Próximo<img src="./assets/icons/next.svg" class="img-button"></button>
    </div>
    <div class="col-lg-12">
      <hr>
    </div>
  </div>
</div>
