
 h3{
  font-weight: bold;
}
.card{
  background-color: darkgray;
  max-width: 170px;
  min-width: 170px;
  min-height: 80px;
  border-radius: 0;
  border: none;
  color: white;
}
.sub-tile{
  font-family: bold;
}
.sc-iAyFgw{
  margin-top: 10px;
}
.sc-cvbbA{
  font-size: 34px;
}
