<div class="col-lg-12 mt-2 mb-2 font-weight-bold">
  <h3>Economize R$ 88,22 no pagamento à vista por boleto bancário!</h3>
</div>
<div class="col-lg-12 mt-2 mb-2">
  <p>Ao escolher essa modalidade, você aproveita até 15% de desconto* em sua compra. Basta efetuar o pagamento do
    documento gerado pelo site via aplicativo de sua instituição financeira
  </p>
</div>
<div class="row col-lg-12">
  <div class="card text-center">
    <div class="sc-iAyFgw NJsFS">
      <span class="sc-hSdWYo emPduQ">Total da sua compra:</span>
    </div>
    <div class="sc-eHgmQL eOrYbW">
      <span class="sc-cvbbAY pweet">R$&nbsp;600,70</span>
    </div>
  </div>
  <div class="card ml-auto text-center">
    <div class="sc-iAyFgw NJsFS">
      <span class="sc-hSdWYo emPduQ">Pagamento no boleto:</span>
    </div>
    <div class="sc-eHgmQL eOrYbW">
      <span class="sc-cvbbAY pweet">R$&nbsp;600,70</span>
    </div>
  </div>
  <div class="card ml-auto text-center">
    <div class="sc-iAyFgw NJsFS">
      <span class="sc-hSdWYo emPduQ">Economida de:</span>
    </div>
    <div class="sc-eHgmQL eOrYbW">
      <span class="sc-cvbbAY pweet">R$&nbsp;600,70</span>
    </div>
  </div>
</div>
