.navbar{
  font-weight: bold;
  background-color: #8E88DF
}
.nav-link{
  font-weight: bold;
}

.custom-drop{
  background-color: #8E88DF;
  width: 250px;

}

.custom-item{
  font-weight: bold;
  width: 250px;
}
.img-fluid{
  width: 10%;
}
