.navbar{
  font-weight: bold;
  background-color: #F1F1F1
}
.nav-link{
  font-weight: bold;
}

.custom-drop{
  background-color: #F1F1F1  ;
  width: 250px;

}

.custom-item{
  font-weight: bold;
  width: 250px;
}
.img-fluid{
  width: 40%;
}
