<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand"  routerLink='/dashboard'><img class="img-fluid" src="../../../../assets/logos/logo_principal2.png"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <ng-container *ngIf="userRole==='ROLE_ADMIN' || userRole==='ROLE_ESTOQUISTA'">
        <li class="nav-item"><a class="nav-link" routerLink="/produtos">Produtos</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/funcionarios">Funcionarios</a></li>
      </ng-container>
      <li class="nav-item" *ngIf="userRole==='ROLE_ADMIN'"><a class="nav-link"  routerLink="/clientes">Clientes</a></li>
    </ul>
  </div>
</nav>
