<div class="container-fluid">
  <div class="row">
    <div class="row col-lg-12 mt-5 justify-content-center">
      <div class="custom-title">Relatório de Vendas</div>
    </div>
    <div class="row col-lg-12 mt-3 mb-3">
      <div class="col-lg-5 col-md-5 col-sm-2 col-2">
        <hr>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-8 col-8 no-padding justify-content-center">
        <button type="button" (click)="modalFilterDate()" class="custom-btn-date-filter mr-lg-2 mr-md-2">
          {{selected?.chosenLabel ? selected?.chosenLabel : 'Hoje'}}
        </button>
      </div>
      <div class="col-lg-5 col-md-5 col-sm-2 col-2">
        <hr>
      </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 mt-2 mb-2">
      <div class="row justify-content-between mx-auto">
        <div class="col-lg-2 custom-form-box mb-3 mt-3">
          <div class="mt-5">
            <div class="row">
              <div class="custom-text-size30 mx-auto ">
                {{totalProdutosVendidos}}
              </div>
            </div>
            <div class="row">
              <div class="custom-text-size15 mx-auto">Total de Produtos Vendidos
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-sm-12 custom-form-box mb-3 mt-3">
          <div class="mt-5 mx-auto">
            <div class="row">
              <div class="custom-text-size30 mx-auto"> {{totalVendas}}

              </div>
            </div>
            <div class="row">
              <div class="custom-text-size15 mx-auto">Total de Vendas
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-sm-12 custom-form-box mb-3 mt-3">
          <div class="mt-5">
            <div class="row">
              <div class="custom-text-size30 mx-auto">10
              </div>
            </div>
            <div class="row">
              <div class="custom-text-size15 mx-auto">Novos Clientes
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 mt-2 mb-2">
      <div class="row">
        <div class="col-lg-7 grafico">
          <div id="chart">
            <apx-chart baseChart *ngIf="chartOptionsMonth && chartOptionsMonth.chart"
              [series]="chartOptionsMonth.series" [chart]="chartOptionsMonth.chart" [xaxis]="chartOptionsMonth.xaxis"
              [yaxis]="chartOptionsMonth.yaxis" [colors]="chartOptionsMonth.colors" [title]="chartOptionsMonth.title"
              [stroke]="chartOptionsMonth.stroke" [grid]="chartOptionsMonth.ApexGrid"></apx-chart>
          </div>
        </div>
        <div class="col-lg-5 grafico">
          <apx-chart baseChart *ngIf="chartOptionsCat && chartOptionsCat.chart" [series]="chartOptionsCat.series"
            [chart]="chartOptionsCat.chart" [xaxis]="chartOptionsCat.xaxis" [labels]="chartOptionsCat.labels"
            [yaxis]="chartOptionsCat.yaxis" [colors]="chartOptionsCat.colors" [title]="chartOptionsCat.title"
            [stroke]="chartOptionsCat.stroke" [grid]="chartOptionsCat.ApexGrid"></apx-chart>
        </div>
      </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 mt-2 mb-2">
      <div class="row">
        <!--<app-tabela-vendas></app-tabela-vendas>-->
      </div>
    </div>
  </div>
</div>
