.navbar{
  font-weight: bold;
  background-color: #F1F1F1
}

.custom-drop{
  background-color: #F1F1F1     ;
  width: 250px;
}
.img-test{
  width: 40%;
}
.custom-item{
  font-weight: bold;
  width: 250px;
}
.cesta-compras{
  width: 50%;
}
@media screen and (max-width:1000px) {
  .img-fluid{
    display: none;
  }
  .cesta-compras{
    position: relative;
    width: 20%;
  }
}
.number{
  background-color: transparent;
  border: none;
  size: 5px;
  margin-top: -5px;
}
@media screen and (max-width:768px) {
  .img-fluid{
    display: none;
  }
  .cesta-compras{
    position: relative;
    width: 30%;
  }
}

.nav-link{
  color: black;
  font-size: 15px;
}

.nav-item > a:hover {
  color: #0C3758;
}
.nome{
  font-weight: bold;
}

.bhf #h_minicart .crt-icon {
  width: 24px;
  height: 24px;
  fill: #fff;
  padding: .75em .875em .375em .375em;
  box-sizing: content-box;
}


.header__section-bag__qtd-product {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 24px;
    height: 24px;
    color: black;
    font-size: 12px;
    text-align: center;
    line-height: 24px;
    background-color: red;
    border-radius: 50%;
}
.header__section-bag__btn-bag{
  margin-top: 10px;
  position: relative;
  display: block;
  width: 46px;
  height: 32px;
  font-size: 0;
  background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzciIGhlaWdodD0iMzIiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTM3IDExLjQyOWgtNi4yODNMMjQuMTE3LjU1NUExLjE2NCAxLjE2NCAwIDAwMjIuNTMuMTYzYTEuMTM1IDEuMTM1IDAgMDAtLjM5NiAxLjU2OGw1Ljg4NiA5LjY5OEg4Ljk4bDUuODg2LTkuNjk4QTEuMTM1IDEuMTM1IDAgMDAxNC40Ny4xNjNhMS4xNjQgMS4xNjQgMCAwMC0xLjU4Ni4zOTJMNi4yODMgMTEuNDI4SDB2Mi4yODZoMi41MWwyLjkzNyAxNS40ODhDNS43NTQgMzAuODI0IDcuMTg4IDMyIDguODU3IDMyaDE5LjI4NmMxLjY2OSAwIDMuMTAzLTEuMTc2IDMuNDA5LTIuNzk3bDIuOTM4LTE1LjQ4OUgzN1YxMS40M3ptLTcuNzIxIDE3LjM1M2MtLjEwMi41NC0uNTguOTMyLTEuMTM2LjkzMkg4Ljg1N2ExLjE1MyAxLjE1MyAwIDAxLTEuMTM3LS45MzNMNC44NjIgMTMuNzE0aDI3LjI3NmwtMi44NiAxNS4wNjh6IiBmaWxsPSIjODc4Nzg3Ii8+PC9zdmc+) 0 no-repeat;
  background-size: 37px 32px;
}
