<div class="container-fluid">
  <div class="row col-lg-12 d-flex justify-content-center mt-3 mb-3">
    <div class="custom-title">Carrinho de Compras</div>
  </div>
  <div class="row d-flex justify-content-center">
    <table class="table">
      <thead class="thead">
        <tr>
          <th scope="col">Produto</th>
          <th scope="col">Descrição</th>
          <th class="custom-col" scope="col">Qtd.</th>
          <th class="custom-col" scope="col">Subtotal</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let produto of produtosCarrinho">
          <td *ngIf="produto.imageToShow"><img class="custom-image" [src]="produto.imageToShow[0]" alt="First slide">
          </td>
          <td>{{produto.nome}}
            <span class="mini"><input type="number" [value]="qtdProdutos" class="subtotal form-control">
              {{produto.preco | currency:'BRL':'symbol':'0.2-2'}}</span>
          </td>
          <td class="custom-col"><input type="number" [value]="qtdProdutos" class="form-control"><a
              href="http://localhost:4200/#/carrinho"><span class="link" (click)="remover(produto)">Remover</span></a>
          </td>
          <td class="custom-col subtotal">{{produto.preco | currency:'BRL':'symbol':'0.2-2'}}</td>
      </tbody>
    </table>
    <div class="col-lg-12">
      <div class="custom-form-box">
        <div class="col-lg-12 mt-2">
          <div class="custom-text-size1 ml-2">
            Resumo do Pedido
          </div>
          <hr>
        </div>
        <div class="d-flex justify-content-between col-lg-12">
          <div class="custom-text-size2 mt-2 ml-2">Quantidade:
          </div>
          <div class="custom-text-size3 mt-2">12
          </div>
        </div>
        <div class="d-flex justify-content-between col-lg-12">
          <div class="custom-text-size2 mt-3 ml-2">Subtotal:
          </div>
          <div class="custom-text-size3 mt-2">159,90
          </div>
        </div>
        <div class="col-lg-12 text-center mt-3">
          <button type="button" class="btn btn-primary col-lg-8">Prosseguir </button>
        </div>
      </div>
    </div>
  </div>
</div>
