<div class="container-fluid">
  <div class="row col-lg-12 d-flex justify-content-center mt-3 mb-3">
    <div class="custom-title">Carrinho de Compras</div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-12 col-lg-12" *ngIf="listaProdutosCarrinho && listaProdutosCarrinho.length">
      <div class="boxcart col-12 pb-3 col-md-12 px-0">
        <div class="bordas-cart">
          <div class="row text-white px-2 mx-0 border-bottom custom-table">
            <div class="col-1 py-1 d-none d-md-block">
              <span class="d-none d-xl-block"><span>Produto </span></span>
            </div>
            <div class="col-4 py-1 d-none d-md-block">
              <span>Descrição </span>
            </div>
            <div class="col-3 py-1 text-left d-none d-md-block">
              <span>Qtd. </span>
            </div>
            <div class="col-2 py-1 px-0 text-right d-none d-md-block">
              <span class="d-none d-lg-inline">Subtotal</span>
            </div>
          </div>
          <div class="row mx-0 custom-b">
            <div class="col-12" *ngFor="let detalhe of venda.detalhesVenda;let i=index">
              <div class="row py-3">
                <div class="col-4 col-lg-1">
                  <div class="row">
                    <div *ngIf="detalhe.produto!.imageToShow" class="col-11 pt-2">
                      <img [src]="detalhe.produto!.imageToShow[0]" class="img-fluid">
                    </div>
                  </div>
                </div>
                <div class="col-8 col-lg-4">
                  <div class="row">
                    <div class="col-12"><a class="text-dark"
                        href="http://localhost:4200/#/dashboard/detalhes/{{detalhe.produto!.id}}"><span>{{detalhe.produto!.nome}}</span></a>
                    </div>
                  </div>
                </div>
                <div class="col-6 col-lg-3 py-2 py-lg-0 px-0 px-lg-2">
                  <div class="row group-rem">
                    <div class="col-12 d-flex align-items-center">
                      <div class="input-group float-left  mr-4">
                        <button class="btn"
                          [class.disabled]="!(detalhe.quantidade! < detalhe.produto!.quantidadeEstoque!)"
                          (click)="plus(i)"><img class="btn-plus-minus"
                            src="../../../../assets/icons/plus.svg"></button>
                        <input [value]="detalhe.quantidade" min="1" step="1" name="quantity"
                          class="form-control custom-number" [readOnly]="true">
                        <button class="btn" [class.disabled]="detalhe.quantidade! < 2" (click)="minus(i)"><img
                            class="btn-plus-minus" src="../../../../assets/icons/minus.svg"></button>
                      </div>
                      <a type="button" href="http://localhost:4200/#/carrinho" (click)="remover(detalhe.produto!)"
                        class="rem-carrinho">Remover</a>
                    </div>
                  </div>
                </div>

                <div class="col-6 col-lg-4 pl-0">
                  <div class="row ">
                    <div class="col-12 col-lg-6 mt-2 mt-lg-0 text-right font-weight-bold">
                      {{detalhe.subTotal | currency:'BRL':'symbol':'0.2-2'}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row col-lg-3 col-sm-12 mb-12 mt-2 mb-3">
        <div class="row col-lg-12">
          <label class="control-label font-weight-bold" for="CEP">Calcule seu Frete</label>
        </div>
        <div class="row col-lg-6 mr-1 mt-1 mb-3">
          <input id="cep" name="cep" mask="00000-000" placeholder="Apenas números" class="form-control cep-mask"
            required type="search" minlength="8" maxlength="9" pattern="[0-9]+$" [(ngModel)]="frete">
        </div>
        <div class="row col-lg-6 mt-1 mb-3">
          <button type="button" class="btn btn-primary" (click)="calculaFrete()">Buscar</button>
        </div>
      </div>
      <div class="row col-lg-6 col-sm-12 mb-12 mt-2 mb-3">
        <div class="row col-lg-12" *ngIf="cepValido">
          <div class="form-check form-check-inline" *ngFor="let frete of fretes">
            <input class="form-check-input" type="radio" name="frete" [id]="frete.transportadora"
             [value]="frete" [(ngModel)]="freteSelecionado" (ngModelChange)="alterarFrete()">
            <label class="form-check-label font-weight-bold col-lg-2" for="inlineRadio1">{{frete.transportadora}}</label>
            <label class="row form-check-label mt-5" for="inlineRadio1">Valor: {{frete.valorFrete | currency:'BRL':'symbol':'0.2-2'}}</label>
          </div>
        </div>
      </div>
      <div class="custom-form-box mb-5">
        <div class="col-lg-12 mt-2">
          <div class="custom-text-size1 ml-2">
            Resumo do Pedido
          </div>
          <hr>
        </div>
        <div class="d-flex justify-content-between col-lg-12">
          <div class="custom-text-size2 mt-2 ml-2">Quantidade:
          </div>
          <div class="custom-text-size3 mt-2">{{venda.quantidadeTotal}}
          </div>
        </div>
        <div class="d-flex justify-content-between col-lg-12" *ngIf="freteSelecionado">
          <div class="custom-text-size2 mt-2 ml-2">Frete:
          </div>
          <div class="custom-text-size3 mt-2">{{freteSelecionado.valorFrete | currency:'BRL':'symbol':'0.2-2'}}
          </div>
        </div>
        <div class="d-flex justify-content-between col-lg-12">
          <div class="custom-text-size2 mt-3 ml-2">Total:
          </div>
          <div class="custom-text-size3 mt-2">{{venda.valorTotal | currency:'BRL':'symbol':'0.2-2'}}
          </div>
        </div>
        <div class="col-lg-12 text-center mt-3">
          <button type="button" class="btn btn-primary col-lg-4"  (click)="endereco()">Prosseguir </button>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-12 mb-5" *ngIf="!listaProdutosCarrinho.length">
      <div class="custom-form-box-empty text-center">
        <div class="col-lg-12 mt-2">
          <div class="custom-text-size1 ml-2">
            Seu Carrinho de compras está vazio.
          </div>
          <hr>
        </div>
        <div class="col-lg-12 custom-text-size4 mt-2 ml-2">Insira já produtos ao seu Carrinho.</div>
        <div class="col-lg-12">
          <div class="custom-text-size4 mt-2 ml-2"> Navegue pelas categorias ou utilize a busca do site, ao encontrar os
            produtos desejados, clique no botão comprar.
          </div>
          <div class="col-lg-12 text-center mt-3">
            <button type="button" class="btn btn-primary col-lg-4" routerLink='/dashboard'>Continuar Comprando </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
