.custom-title{
  font-size: 25px;
  font-weight: bold;
}
.custom-image{
  width: 20%;
  max-width: 300px;
}
.custom-table{
  background-color: #0C3758;
  border: none;
}

.subtotal{
  font-weight: bold;
}
.custom-text-size1{
  font-size: 18px;
  margin-top: 0;
  font-weight: bold;
}
.custom-text-size2{
  font-size: 15px;
  margin-top: 0;
  font-weight: bold;
}
.custom-text-size4{
  font-size: 17px;
  margin-top: 0;
}
.custom-text-size3{
  font-size: 15px;
  margin-right: 10px;
}
.group-rem{
  width: 60%;
}

.link{
  color: black;
}
.btn-primary{
  background-color: #0C3758;
}
.custom-form-box {
  position: relative;
  background-color: #F1F1F1;
  border: 3px solid #E6E6E6;
  border-radius: 5px;
  height: 200px;
}
.custom-form-box-empty {
  background-color: #F1F1F1;
  color: black;
  border: 3px solid #E6E6E6;
  border-radius: 5px;
  height: 200px;
}
.bordas-cart{
  border: 1px solid #E6E6E6;
}
.rem-carrinho{
  color: black;
}
.mini{
  display: none;
}
.table{
  margin: 10px;
}
.btn-plus-minus{
  width: 20px;
}
.input-add{
  border: 1px solid;
  border-radius: 50%;
}
.input-group .custom-number{
  border-radius: 15%;
  max-width: 60px;
  min-width: 60px;
}
input[readonly] {
  background-color: white;
}

@media (max-width: 768px)   {
  .col{
    width: 50%;
  }
  .group-rem{
    margin-left: 4px;
    width: 100%;
  }
  .mini{
    display: block;
  }
  .table{
    margin: 4px;
  }
  .custom-image{
    width: 100%;
  }

 }


