<div class="container-fluid">
  <div class="modal-header">
    <div class="modal-title">
      Modificar pedido {{venda.numeroPedido}}
    </div>
    <button type="button" class="close" (click)="close()" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="row col-lg-12 mt-2 mb-2">
    <div class="table">
      <thead>
        <tr>
          <th></th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let status of listaStatus">
          <td scope="row"><input class="form-check-input ml-auto" id="button" type="radio" name="frete"
              (click)="selectStatus(status)"></td>
          <td scope="col">{{status.descricao}}</td>
        </tr>
      </tbody>
    </div>
  </div>
  <div class="row mt-2 mb-2">
    <button class="btn btn-primary col-lg-12" (click)="closeX()">Atualizar</button>
  </div>
</div>
