@import '~bootstrap/dist/css/bootstrap.min.css';

html, body { height: 100%; }
body { margin: 0; font-family: fantasy, "Helvetica Neue", sans-serif;background-color: white; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-dialog-container {
  border-radius: 10px;
  padding: 10px;
  background-color: #FFFFFF  !important;
  color: #444444 !important;
}
.mat-dialog-content{
  overflow: hidden !important;
}
