
.login-body{
  width: 55%;
  height: 93%;
  float: left;
  background-image: url("../../../../assets/logos/Grupo 1.png");
  background-repeat: no-repeat;
 }


 @media (max-width: 768px)   {
  .login-body{
    display: none;
  }
 }
