
.login-body{
  width: 55%;
  height: 100%;
  float: left;
  background-image: url("../../../../assets/logos/Grupo 1.png");
  background-repeat: no-repeat;
 }
.text-login{
  margin-top: 30px;
  margin-left: 10px;
  font-size: 18px;
  color: white;
  font-weight: bold;
}
.sub-text-login{
  margin-top: 10px;
  margin-left: 15px;
  font-size: 15px;
  color: white;
  font-weight: bold;
}

 @media (max-width: 768px)   {
  .login-body{
    display: none;
  }
 }
