.card-img-top {
  height: auto;
  object-fit: cover;
}

.loading-spinner{
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: grid;
}


.custom-input-search {
  background-image: url('/assets/icons/search.svg');
  background-repeat: no-repeat;
  background-position: 95% 50%;
  background-color: #FCFCFC;
  border: 1px solid #D2D2D2;
  border-radius: 5px;
  padding: 0 31px 0 10px;

  font-family: "Segoe UI", Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  box-sizing: border-box;
  height: 35px;
  color: #444444;
}
@media (max-width: 768px)   {
  .banner-home{
    display: none;
  }
  .custom-image{
    display: none;
  }
 }

.custom-lbl-filter {
  width: auto;
  height: 35px;
  margin: 0;
  box-sizing: border-box;
}
ngb-rating {
  font-size: 22px;
  color: #FFC300;
  border:none;
}
.custom-price{
  font-weight: bold;
  font-size: 18px;
}
.banner-home{
  width: 100%;
  position: relative;
  margin:0;
  padding: 0;
}
.televendas-home{
  text-align: center;
  width: 100%;
  opacity:0.5;

}

.nomes-home{
  margin: auto 3px auto 0px;
  padding: 6px 0;
}

.custom-cart{
 width: 25px;
 position: absolute;
 margin: auto;
}

.nav {
  align-content: center;
  background-color: #f1f1f1;
}

.nav-link {
  color: #000000;
  font-weight: bold;
}

.btn-info{
  position: relative;
  margin-top: auto;
}

.tab-pane {
  column-count: 3;
  text-align: justify;
  width: 100%;
  margin: auto 5px auto 0px;
  padding: 8px 0;
}
.custom-image{
  margin: 0;
  width: 100%;
}

.menu {
  text-align: center;
  width: 100%;
  background-color: #f1f1f1;
}

.btn-primary{
  color: #F1F1F1;
  background-color: #0C3750;
}

/*Arte de Débora*/

.footer-dark {
  padding:10px 0;
  color:#f0f9ff;
  background-color:#535c64;
}

.footer-dark h3 {
  margin-top:0;
  margin-bottom:12px;
  font-size:16px;
}

.footer-dark ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-dark ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.6;
}

.footer-dark ul a:hover {
  opacity:0.6;
}

@media (max-width:767px) {
  .footer-dark .item:not(.social) {
    text-align:center;
    padding-bottom:20px;
  }
}

.footer-dark .item.text {
  margin-bottom:36px;
}

@media (max-width:767px) {
  .footer-dark .item.text {
    margin-bottom:0;
  }
}

.footer-dark .item.text p {
  opacity:0.6;
  margin-bottom:0;
}

.footer-dark .item.social {
  padding:30px ;
  opacity:0.75;
  position: relative;
  margin-top: auto;
  text-align:center;
  display: inline;
  padding: 0 30px 0 10px;


}

@media (max-width:991px) {
  .footer-dark .item.social {
    text-align:center;
    margin-top:50px;
  }
}

.footer-dark .item.social > a {
  font-size:20px;
  width:36px;
  height:36px;
  line-height:36px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  box-shadow:0 0 0 1px rgba(255,255,255,0.4);
  margin:0 8px;
  color:#fff;
  opacity:0.75;
}

.footer-dark .item.social > a:hover {
  opacity:0.5;
}

.footer-dark .copyright {
  text-align:center;
  padding-top:24px;
  opacity:0.3;
  font-size:13px;
  margin-bottom:0;
}

