.card-img-top {
  height: auto;
  object-fit: cover;
}

.loading-spinner{
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: grid;
}

.custon-btn-filter{
  background-image: url('/assets/botao-de-menu.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 50px;
  height: 35px;
  border: 1px solid #a09be9;
  border-radius: 5px;
  background-color: #a09be9;
  outline: none;
}
.custom-input-search {
  background-image: url('/assets/search.svg');
  background-repeat: no-repeat;
  background-position: 95% 50%;
  background-color: #FCFCFC;
  border: 1px solid #D2D2D2;
  border-radius: 5px;
  padding: 0 31px 0 10px;

  font-family: "Segoe UI", Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  box-sizing: border-box;
  height: 35px;
  color: #444444;
}

.custom-lbl-filter {
  width: auto;
  height: 35px;
  margin: 0;
  box-sizing: border-box;
}
ngb-rating {
  font-size: 22px;
  color: #FFC300;
  border:none;
}
.custom-price{
  font-weight: bold;
  font-size: 18px;
}
.banner-home{
  width: 100%;
  position: relative;
  margin:0;
  padding: 0;
}
.custom-cart{
 width: 25px;
 position: absolute;
 margin: auto;
}

.tab-content {
  column-count: 3;
  text-align: justify;
  width: 100%;
  margin: auto 5px auto 0px;
  padding: 8px 0;
  background-color: #f1f1f1;
}

.menu {
  text-align: center;
  width: 100%;
  background-color: #f1f1f1;
}

.texto-menu {
  color: #000000;
  font-weight: bold;
}
@media screen and (max-width:768px) {
  .carousel {
    display: none;
  }
  .banner-home{
    display: none;
  }

}
