<div class="nav-justified">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link" id="cama-tab" data-toggle="tab" href="#cama" role="tab" aria-controls="cama"
        aria-selected="false">CAMA</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="mesa-tab" data-toggle="tab" href="#mesa" role="tab" aria-controls="mesa"
        aria-selected="false">MESA</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="banho-tab" data-toggle="tab" href="#banho" role="tab" aria-controls="banho"
        aria-selected="false">BANHO</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="decoracao-tab" data-toggle="tab" href="#decoracao" role="tab" aria-controls="decoracao"
        aria-selected="false">DECORAÇÂO</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="promocoes-tab" data-toggle="tab" href="#promocoes" role="tab" aria-controls="promocoes"
        aria-selected="false">PROMOÇÕES</a>
    </li>
  </ul>
</div>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade" id="cama" role="tabpanel" aria-labelledby="cama-tab">
    <a class="dropdown-item" (click)="filtrarPorSubCategoria('Jogo de Cama')">Jogo de Cama/Jogo de Lençol</a>
    <a class="dropdown-item" (click)="filtrarPorSubCategoria('Edredom')">Edredom</a>
    <a class="dropdown-item" (click)="filtrarPorSubCategoria('Colcha')">Colcha</a>
  </div>
  <div class="tab-pane fade" id="mesa" role="tabpanel" aria-labelledby="mesa-tab">
    <a class="dropdown-item" (click)="filtrarPorSubCategoria('Toalha de Mesa')">Toalha de Mesa</a>
    <a class="dropdown-item" (click)="filtrarPorSubCategoria('Guardanapo')">Guardanapo</a>
    <a class="dropdown-item" (click)="filtrarPorSubCategoria('Jogo Americano')">Jogo Americano</a>
  </div>
  <div class="tab-pane fade" id="banho" role="tabpanel" aria-labelledby="banho-tab">
    <a class="dropdown-item" (click)="filtrarPorSubCategoria('Toalha de Banho')">Toalha de Banho</a>
    <a class="dropdown-item" (click)="filtrarPorSubCategoria('Toalha de Rosto')">Toalha de Rosto</a>
    <a class="dropdown-item" (click)="filtrarPorSubCategoria('Toalha Banhão')">Toalha Banhão</a>
    <a class="dropdown-item" (click)="filtrarPorSubCategoria('Jogo de Banho')">Jogo de Banho</a>
    <a class="dropdown-item" (click)="filtrarPorSubCategoria('Roupão')">Roupão</a>
  </div>
  <div class="tab-pane fade" id="decoracao" role="tabpanel" aria-labelledby="decoracao-tab">
    <a class="dropdown-item" >Tapete Sala</a>
  </div>
  <div class="tab-pane fade" id="promocoes" role="tabpanel" aria-labelledby="promocoes-tab">
    <a class="dropdown-item" href="#">Promoção 1</a>
    <a class="dropdown-item" href="#">Promoção 2</a>
    <a class="dropdown-item" href="#">Promoção 3</a>
  </div>
</div>

<div class="row banner-home mt-5">
  <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100 custom-image"
          src="../../../../assets/banners/Web 1920 – 1.png" alt="First slide">
        <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
      </div>
    </mdb-carousel-item>
    <!--<mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100 custom-image"
          src="../../../../assets/banners/banner_principal_campanha_mega_bazar_1920x480px.gif" alt="Second slide">
        <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100 custom-image"
          src="../../../../assets/banners/banner_principal_produto_mega_bazar_3_desktop_1920x480px_3.jpg"
          alt="Thirst slide">
        <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
      </div>
    </mdb-carousel-item>-->
  </mdb-carousel>
</div>
<div class="row banner-home" style="background-color: black;">a</div>

<div class="container-fluid mt-5">
  <div class="row d-flex justify-content-center mt-3 mb-5">
    <input class="ml-0 col-lg-4 col-md-6 col sm-6 custom-input-search" type="text" placeholder="Pesquise"
      (ngModelChange)="this.searchFilter.next($event)" [(ngModel)]="filtroPesquisa" />
    <label class="ml-1 custom-lbl-filter">
      <button class="custon-btn-filter">
      </button>
    </label>
  </div>
  <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-12 mb-3  d-flex justify-content-center" *ngFor="let produto of produtos">
      <div class="card h-100" style="width: 21rem;">
        <img class="card-img-top" [src]="produto.imageToShow[0]" alt="Imagem principal do produto">
        <div class="card-body">
          <h4 class="card-title text-center custom-name">{{produto.nome}}</h4>
          <p class="card-text text-center">
            <ngb-rating [(rate)]="produto.qtdEstrelas!" [readonly]=true maxlength=5></ngb-rating>
          </p>
          <hr>
          <p class="card-text custom-price">{{produto.preco | currency:'BRL':'symbol':'0.2-2'}}</p>
          <p class="text-center "><a class="btn btn-primary" (click)="Detalhes(produto.id!)">Mais informações</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="loading-spinner" *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>
</div>
