<div class="container-fluid mt-5">
  <div class="row d-flex justify-content-center mt-3 mb-5">
    <input class="ml-0 col-lg-4 col-md-6 col sm-6 custom-input-search" type="text" placeholder="Pesquise"
      (ngModelChange)="this.searchFilter.next($event)" [(ngModel)]="filtroPesquisa" />
    <label class="ml-1 custom-lbl-filter">
      <button class="custon-btn-filter">
      </button>
    </label>
  </div>
  <div class="row d-flex justify-content-center">

    <div class="col-lg-3 col-md-6 col-sm-12 mb-3" *ngFor="let produto of produtos">
      <div class="card h-100" style="width: 18rem;">
        <img class="card-img-top" [src]="produto.imageToShow[0]" alt="Imagem principal do produto">
        <div class="card-body">
          <h4 class="card-title text-center">{{produto.nome}}</h4>
          <p class="card-text text-center">
            <ngb-rating [(rate)]="produto.qtdEstrelas!" [readonly]=true  maxlength=5></ngb-rating>
          </p>
          <p class="card-text ">R$ {{produto.preco}}</p>
          <p class="text-center"><a class="btn btn-info" (click)="Detalhes(produto.id!)">Mais informações</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="loading-spinner" *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>
</div>
